:root {
  --device-height: 720px;
  --device-width: 342px;
  --device-colour: #333333;
}
* {
  box-sizing: border-box;
}
.body {
  background-color: #f9fafa;
  display: flex;
  justify-content: center;
}
.device:before {
  content: "";
  position: absolute;
  width: 186px;
  height: 46px;
  background: var(--device-colour);
  z-index: 99999;
  left: 50%;
  margin-left: -25%;
  border-radius: 0 0 20px 20px;
}
.device {
  top: 104px;
  position: relative;
  background-color: var(--device-colour);
  border-radius: 60px;
  height: var(--device-height);
  width: var(--device-width);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
.iframe {
  border-radius: 50px;
  height: var(--device-height);
  width: var(--device-width);
  border: 15px solid var(--device-colour);
}
